
    body{
        background: yellow url("https://sp.yimg.com/ib/th/id/OIP.qIE3yDuXgav8rkbl3dJuxwHaG2?pid=Api&w=148&h=148&c=7&dpr=2&rs=1") no-repeat;
        background-size: cover;
   }
   #reg-form{
    background: radial-gradient(ellipse, yellow, white);
    text-align: center;
    width: 250px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px green;
    position: relative;
    left: 340px;
    top: 17px;
   }
  .form-group input[type="text"], 
  .form-group input[type="number"], 
  .form-group input[type="password"]
  {
    outline: none;
    margin-bottom: 6px;
    height: 26px;
    width: 240px;
    background: transparent;
    border: 2px solid blue;
    color: hotpink;
    font-size: 14;
    font-family: comic sans-serif;
  }
  textarea{
   
    text-align: center;
    margin-bottom: 6px;
    height: 26px;
    width: 240px;
    background: turquoise;
    border: 2px solid blue;
    color: hotpink;
    font-size: 14;
    font-family: comic sans-serif;
  }
textarea{
  height: 56px;
}
::placeholder{
  color: whites;
}
.form-group input[type="submit"]{
  background: radial-gradient(ellipse, red, blue, yellow, black, orange);
  border: none;
  border-radius: 0px 20px 0px 20px;
  color: white;
  width: 240px;
  padding: 6px, 20px;
}
.form-group input[type="submit"]:hover{
  cursor: pointer;
  box-shadow: 0 0 10px violet;
}
#user-Icon{
  margin-top: -90px;
  margin-bottom: 20px;
}
#user-Icon>.fa{
  color: green;
  font-size: 90px;
  border:10px solid black;
  border-radius: 100%;
  box-shadow: 0px 0px 20px navy;
}