body{
    margin: 10px;
}
.container{
    border: 2px dotted red;
   display: flex;
   flex-direction: column;
}
.flex-item{
    color: white;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    margin: 2px;
}
.item1{
    background-color: green;
}
.item2{
    background-color: blue;
}
.item3{
    background-color: violet;
}
.item4{
    background-color: greenyellow;
}
.item5{
    background-color: black;
}
.item6{
    background-color: gray;
    order: 2;
}
.item7{
    background-color: red;
}
.item8{
    background-color:firebrick;
}
.item9{
    background-color: blueviolet;
}
.item10{
    background-color: hotpink;
    order: 1;
}
.item11{
    background-color: gold;
}
