*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: cyan;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menublock ul{
 display: flex;
 gap: 20px
}
#menublock ul li{
    list-style: none;
    margin-right: 10px;
}
#menublock ul li a:hover{
border-bottom: 2px solid yellow;
}
#menublock ul li a{
    text-decoration: none;
    font-size: 20px;
}
#logoblock{
    margin-left: 50px;
    letter-spacing: 2px;
}
#logoblock::first-letter{
    border: 2px solid crimson;
    padding: 8px;
    border-radius: 8px 0px 8px 0px;
    color: green;
    font-size: 25px;
}
aside{
    width: 200px;
    background-color: blanchedalmond;
    float: left;
}
aside ul{
    margin-left: 30px;
}
aside ul li{
    list-style: none;
    margin-bottom: 50px;
    margin-top: 8px;
}
aside ul li a{
    text-decoration: none;
}
article{
    margin: 10px;
}
section{
    margin-left: 20px;
    border: 2px solid black;
    margin-top: 0px;
}
details{
    margin-left: 200px;
    height: 20px;
}