body{
    margin: 0px;
}
header{
    background-color: black;
    padding: 7px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>h1{
    margin: 0px;
}
.fa{
    padding-right: 10px;
}
header>.nav-links>a{
margin: 20px;
text-decoration: none;
padding: 5px 10px;
background-color: orange;
color: black;
border-radius: 10px;
}
header>.nav-links>a:hover{
    box-shadow: 0px 0px 0px 10px white;
}
@media (min-width:0px) and (max-width:960px){
    header{
        height: 100px;
        flex-direction: column;
    }
}
header>.nav-links>a{
    position: relative;
    top: 20px;
}
@media (min-width:0px) and (max-width:660px){
   header{
     height: 100px;
     flex-direction: column;
   }
   header>.nav-links>a{
    position: relative;
    top: 20px;
}
   
}